schema/tei_periodical.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0" xmlns:oape="https://openarabicpe.github.io/ns">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Open Arabic Periodical Editions (OpenArabicPE): Schema</title>
                <author>
                    <persName xml:id="pers_TG">
                        <forename>Till</forename>
                        <surname>Grallert</surname>
                    </persName>
                </author>
            </titleStmt>
            <publicationStmt>
                <authority>
                    <persName>Till Grallert</persName>
                </authority>
                <pubPlace>Beirut</pubPlace>
                <date when="2016">2016</date>
                <availability status="restricted">
                    <licence target="http://creativecommons.org/licenses/by-sa/4.0/">Distributed under a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license</licence>
                </availability>
            </publicationStmt>
            <notesStmt>
                <note type="ns">https://tillgrallert.github.io/ns/tei_openarape</note>
            </notesStmt>
            <sourceDesc>
                <p>created on Friday 17th June 2016 02:20:14 PM</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2018-09-29" who="#pers_TG">Added <att>edRef</att> as recommended attribute on all page, column, and line breaks/beginnings.</change>
            <change when="2018-01-16" who="#pers_TG">Added the att.global.change.</change>
            <change when="2017-01-15" who="#pers_TG">Added @type=&quot;inline&quot; to tei:note. Added @type attributes to tei:date.</change>
            <change when="2016-06-17" who="#pers_TG">Initial creation of this file.</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>This TEI customisation includes the modules:
                <list>
                    <item>core</item>
                    <item>tei</item>
                    <item>header</item>
                    <item>textstructure</item>
                    <item>tagdocs</item>
                    <item>namesdates</item>
                    <item>linking</item>
                    <item>figures</item>
                    <item>transcr</item>
                    <item>corpus</item></list>
            </p>
            <p>Many elements and attribute classes and attributes were deleted from the standard set. The values of some attributes were restricted.</p>
            <schemaSpec docLang="en" ident="tei_OpenArabicPE" prefix="OpenArabicPE_" xml:lang="en">
                <moduleRef except="addrLine address analytic binaryObject desc distinct divGen email emph gloss headItem headLabel index media meeting mentioned postBox postCode reg relatedItem series soCalled sp speaker stage street" key="core"/>
                <moduleRef except="" key="tei"/>
                <moduleRef except="abstract appInfo application cRefPattern catDesc catRef category classCode classDecl correction correspAction correspContext correspDesc creation extent geoDecl handNote hyphenation interpretation keywords listChange namespace normalization principal punctuation refState schemaRef scriptNote segmentation seriesStmt sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy textClass typeNote xenoData" key="header"/>
                <moduleRef except="argument div1 div2 div3 div4 div5 div6 div7 docAuthor docDate docEdition docImprint docTitle epigraph imprimatur postscript signed titlePage titlePart" key="textstructure"/>
                <moduleRef except="altIdent alternate anyElement attDef attList attRef classRef classSpec classes code constraint constraintSpec content dataFacet dataRef dataSpec datatype defaultVal eg egXML empty elementRef elementSpec equiv exemplum ident listRef macroRef macroSpec memberOf model modelGrp modelSequence moduleRef moduleSpec outputRendition param paramList paramSpec remarks schemaSpec sequence specDesc specGrp specGrpRef specList textNode val valDesc valItem valList" key="tagdocs"/>
                <!-- many elements should be removed from namesdates: sex socecStatus -->
                <moduleRef except="affiliation age bloc climate country district geogFeat geogName langKnowledge langKnown nationality offset  persona population region residence settlement sex socecStatus terrain" key="namesdates"/>
                <moduleRef except="alt altGrp anchor join joinGrp link linkGrp timeline when" key="linking"/>
                <moduleRef except="formula notatedMusic" key="figures"/>
                <moduleRef except="addSpan damage damageSpan delSpan handNotes handShift line listTranspose mod redo restore retrace secl sourceDoc space subst substJoin surplus transpose undo" key="transcr"/>
                <!-- corpus provides profileDesc, particDesc, settingDesc -->
                <moduleRef except="activity channel constitution derivation domain factuality interaction locale preparedness purpose setting textDesc" key="corpus"/>
                <!-- Changes to attribute classes -->
                <classSpec ident="att.breaking" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.canonical" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="key" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.coordinated" mode="delete" module="transcr" type="atts"/>
                <classSpec ident="att.damaged" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.datable" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="period" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.datable.custom" mode="change" module="namesdates" type="atts">
                    <attList>
                        <attDef ident="datingPoint" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.datable.iso" mode="delete" module="namesdates" type="atts"/>
                <classSpec ident="att.declarable" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.divLike" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="org" mode="delete"/>
                        <attDef ident="sample" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.dimensions" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="precision" mode="delete"/>
                        <attDef ident="scope" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.editLike" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.global" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                        <attDef ident="xml:lang" mode="change">
                            <defaultVal>ar</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="ar">
                                    <desc>Arabic in Arabic script</desc>
                                </valItem>
                                <valItem ident="ota">
                                    <desc>Ottoman in Arabic script</desc>
                                </valItem>
                                <valItem ident="tr">
                                    <desc>Modern Turkish</desc>
                                </valItem>
                                <valItem ident="en">
                                    <desc>English</desc>
                                </valItem>
                                <valItem ident="fr">
                                    <desc>French</desc>
                                </valItem>
                                <valItem ident="de">
                                    <desc>German</desc>
                                </valItem>
                                <valItem ident="he">
                                    <desc>Hebrew in Hebrew script</desc>
                                </valItem>
                                <valItem ident="fa">
                                    <desc>Farsi in Arabic script</desc>
                                </valItem>
                                <valItem ident="ar-Latn-x-ijmes">
                                    <desc>Arabic in Latin script following the IJMES transcription</desc>
                                </valItem>
                                <valItem ident="ota-Latn-x-ijmes">
                                    <desc>Ottoman in Latin script following the IJMES transcription</desc>
                                </valItem>
                                <valItem ident="ota-Latn-TR">
                                    <desc>Ottoman in Latin script following common Turkish conventions</desc>
                                </valItem>
                                <valItem ident="fa-Latn-x-ijmes">
                                    <desc>Farsi in Latin script following the IJMES transcription</desc>
                                </valItem>
                                <valItem ident="ar-Latn-EN">
                                    <desc>Arabic in Latin script following common English conventions</desc>
                                </valItem>
                                <valItem ident="ar-Latn-FR">
                                    <desc>Arabic in Latin script following common French conventions</desc>
                                </valItem>
                                <valItem ident="ar-Latn-x-dmg">
                                    <desc>Arabic in Latin script following the DMG transcription</desc>
                                </valItem>
                                <valItem ident="de-Arab-AR">
                                    <desc>German transcribed into Arabic script following common Levantine Arabic practices</desc>
                                </valItem>
                                <valItem ident="en-Arab-AR">
                                    <desc>English transcribed into Arabic script following common Levantine Arabic practices</desc>
                                </valItem>
                                <valItem ident="fr-Arab-AR">
                                    <desc>French transcribed into Arabic script following common Levantine Arabic practices</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.global.linking" mode="change" module="linking" type="atts">
                    <attList>
                        <attDef ident="copyOf" mode="delete"/>
                        <attDef ident="exclude" mode="delete"/>
                        <attDef ident="sameAs" mode="delete"/>
                        <attDef ident="select" mode="delete"/>
                        <attDef ident="synch" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.global.responsibility" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="cert" mode="delete"/>
                    </attList>
                </classSpec>
                <!-- we need @source at least in our authority files -->
                <!--<classSpec ident="att.global.source" mode="delete" module="tei" type="atts"/>-->
                <classSpec ident="att.media" mode="change" module="tei" type="atts">
                    <!-- even though I delete all attributes in this class, the class itself is required as it is member of att.internetMedia, which provides the @mimeType attribute -->
                    <attList>
                        <attDef ident="height" mode="delete"/>
                        <attDef ident="scale" mode="delete"/>
                        <attDef ident="width" mode="delete"/>
                    </attList>
                </classSpec>
                 <classSpec ident="att.naming" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="role" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.personal" mode="change" module="tei" type="atts">
                    <!-- even though I delete all attributes in this class, the class itself is required as it is member of att.canonical, which provides the @ref attribute -->
                    <attList>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="full" mode="delete"/>
                    </attList>
                </classSpec>
                 <classSpec ident="att.pointing" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="evaluate" mode="delete"/>
                        <attDef ident="targetLang" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.ranging" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.segLike" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.sortable" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.spanning" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.tableDecoration" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="role" mode="change" usage="opt">
                            <defaultVal>data</defaultVal>
                            <valList mode="replace" type="closed">
                                <valItem ident="data"/>
                                <valItem ident="label"/>
                            </valList>
                        </attDef>
                    </attList>
                </classSpec>
                <classSpec ident="att.timed" mode="change" module="tei" type="atts">
                    <attList>
                        <attDef ident="end" mode="delete"/>
                        <attDef ident="start" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.transcriptional" mode="delete" module="tei" type="atts"/>
                <classSpec ident="att.written" mode="delete" module="tei" type="atts"/>
                <elementSpec ident="add" mode="change" module="core">
                    <attList>
                        <attDef ident="resp" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="addName" mode="change" module="namesdates">
                    <attList>
                        <attDef ident="type" mode="change" usage="req">
                            <defaultVal>title</defaultVal>
                            <valList mode="replace" type="closed">
                                <!-- this is goind to be depreciated -->
                                <valItem ident="title">
                                    <desc>indicates formal titles, such as &quot;Bey&quot;, &quot;Pasha&quot; etc. This use is depreciated in favour of <tag>roleName type="title"</tag></desc>
                                </valItem>
                                <!-- this is goind to be depreciated -->
                                <valItem ident="honorific">
                                    <desc>indicates honorific addresses or titles, such as Miss, 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Shaykh</foreign>
                                        , 
                                        <foreign xml:lang="ota-Latn-TR">zade</foreign>. This use is depreciated in favour of <tag>roleName type="honorific"</tag></desc>
                                </valItem>
                                <!-- this is goind to be depreciated -->
                                <valItem ident="rank">
                                    <desc>indicates ranks within an administrative, military or religious hierarchy, such as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">farīq</foreign>
                                        , 
                                        <foreign xml:lang="ota-Latn-x-ijmes">vālī</foreign>
                                        , Captain. This use is depreciated in favour of <tag>roleName type="rank"</tag></desc>
                                </valItem>
                                <!-- this is goind to be depreciated -->
                                <valItem ident="nickname">
                                    <desc>a phrase someone is commonly referred to, such as &quot;Owner of the newspaper xyz&quot;. This use is depreciated in favour of <tag>roleName type="title"</tag></desc>
                                </valItem>
                                <!-- classic conception of Arabic names -->
                                <valItem ident="nasab">
                                    <desc>a 
                                        <term>patronym</term>
                                        introduced by “Ibn” (
                                        <foreign xml:lang="ar">إبن</foreign>
                                        - son of)</desc>
                                </valItem>
                                <valItem ident="kunyah">
                                    <desc>a 
                                        <term>teknonym</term>
                                        beginning with 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Abū</foreign>
                                        (
                                        <foreign xml:lang="ar">أبو</foreign>
                                        - father of) or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Umm</foreign>
                                        (
                                        <foreign xml:lang="ar">أم</foreign>
                                        - mather of). It may also have hypothetical or metaphorical references as a mark of distinction. For example, 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Abū Yūsuf</foreign>
                                        (
                                        <foreign xml:lang="ar">أبو يوسف</foreign>
                                        ) is often used for someone who is called 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Ya'qūb</foreign>
                                        (
                                        <foreign xml:lang="ar">يعقوب</foreign>
                                        ) </desc>
                                </valItem>
                                <valItem ident="khitab">
                                    <desc>an honorific name, which is usually ended by the suffix 
                                        <foreign xml:lang="ar-Latn-x-ijmes">al-Dīn</foreign>
                                        (
                                        <foreign xml:lang="ar">الدين</foreign>
                                        ) </desc>
                                </valItem>
                                <valItem ident="nisbah">
                                    <desc>an adjective formed by using the suffix ī in order to indicate the person origin, his birth place, or his residence. It represents the relationship name, which can be a genealogical, political or ideological affiliation of a person. Example: the mathematician 
                                        <foreign xml:lang="ar-Latn-x-ijmes">al-Khawarizmī</foreign>
                                        refers to “Khuwarism”, the name of a place located in Central Asia</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <!-- subtype is depreciated -->
                        <attDef ident="subtype" mode="change" usage="opt">
                            <valList mode="replace" type="closed">
                                <valItem ident="military">
                                    <desc>Indicates a military rank, such as Captain or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Farīq</foreign></desc>
                                </valItem>
                                <valItem ident="civil">
                                    <desc>Indicates a civil rank within the bureaucracy</desc>
                                </valItem>
                                <valItem ident="religious">
                                    <desc>Indicates a religious rank, such as Bishop or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Muṭrān</foreign></desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="bibl" mode="change" module="core">
                    <attList>
                        <attDef ident="subtype" mode="change" usage="opt">
                            <valList mode="replace" type="semi">
                                <valItem ident="journal">
                                    <desc>A type of periodical publication that is called <foreign xml:lang="ar-Latn-x-ijmes">majalla</foreign> in Arabic.</desc>
                                </valItem>
                                <valItem ident="newspaper">
                                    <desc>A type of periodical publication that is called <foreign xml:lang="ar-Latn-x-ijmes">jarīda</foreign> in Arabic.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="change" usage="opt">
                            <valList mode="replace" type="semi">
                                <valItem ident="book">
                                    <desc>A book</desc>
                                </valItem>
                                <valItem ident="periodical">
                                    <desc>A periodical publication</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="frequency" mode="add" ns="https://openarabicpe.github.io/ns" usage="opt">
                            <desc>This attribute specifies the publication frequency</desc>
                            <datatype>
                                <dataRef key="teidata.text"/>
                            </datatype>
                            <defaultVal>monthly</defaultVal>
                            <valList mode="add" type="semi">
                                <valItem ident="daily"></valItem>
                                <valItem ident="weekly"></valItem>
                                <valItem ident="biweekly"></valItem>
                                <valItem ident="fortnightly"></valItem>
                                <valItem ident="monthly"></valItem>
                                <valItem ident="annually"></valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="biblStruct" mode="change" module="core">
                   <attList>
                        <attDef ident="subtype" mode="change" usage="opt">
                            <valList mode="replace" type="semi">
                                <valItem ident="journal">
                                    <desc>A type of periodical publication that is called <foreign xml:lang="ar-Latn-x-ijmes">majalla</foreign> in Arabic.</desc>
                                </valItem>
                                <valItem ident="newspaper">
                                    <desc>A type of periodical publication that is called <foreign xml:lang="ar-Latn-x-ijmes">jarīda</foreign> in Arabic.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="change" usage="opt">
                            <valList mode="replace" type="semi">
                                <valItem ident="book">
                                    <desc>A book</desc>
                                </valItem>
                                <valItem ident="periodical">
                                    <desc>A periodical publication</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="frequency" mode="add" ns="https://openarabicpe.github.io/ns" usage="opt">
                            <desc>This attribute specifies the publication frequency</desc>
                            <datatype>
                                <dataRef key="teidata.text"/>
                            </datatype>
                            <defaultVal>monthly</defaultVal>
                            <valList mode="add" type="semi">
                                <valItem ident="daily"></valItem>
                                <valItem ident="weekly"></valItem>
                                <valItem ident="biweekly"></valItem>
                                <valItem ident="fortnightly"></valItem>
                                <valItem ident="monthly"></valItem>
                                <valItem ident="annually"></valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="roleName" mode="change" module="namesdates">
                    <attList>
                        <attDef ident="type" mode="change" usage="req">
                            <defaultVal>title</defaultVal>
                            <valList mode="replace" type="closed">
                                <valItem ident="title">
                                    <desc>Formal titles, such as &quot;Bey&quot;, &quot;Pasha&quot; etc.</desc>
                                </valItem>
                                <valItem ident="honorific">
                                    <desc>Honorific addresses or titles, such as Miss, 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Shaykh</foreign>
                                        , 
                                        <foreign xml:lang="ota-Latn-TR">zade</foreign></desc>
                                </valItem>
                                <valItem ident="nobility">
                                    <desc>An inherited or life-time title of nobility such as Lord, Viscount, Baron, etc.</desc>
                                </valItem>
                                <valItem ident="rank">
                                    <desc>indicates ranks within an administrative, military or religious hierarchy, such as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">farīq</foreign>
                                        , 
                                        <foreign xml:lang="ota-Latn-x-ijmes">vālī</foreign>
                                        , Captain</desc>
                                </valItem>
                                <valItem ident="epithet">
                                    <desc>a phrase someone is commonly referred to (nick-name), such as &quot;Owner of the newspaper xyz&quot;</desc>
                                </valItem>
                                <valItem ident="pseudonym">
                                    <desc>a ficticious name, especially one used by an author.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="subtype" mode="change" usage="opt">
                            <valList mode="replace" type="closed">
                                <valItem ident="military">
                                    <desc>Indicates a military rank, such as Captain or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Farīq</foreign></desc>
                                </valItem>
                                <valItem ident="civil">
                                    <desc>Indicates a civil rank within the bureaucracy</desc>
                                </valItem>
                                <valItem ident="religious">
                                    <desc>Indicates a religious rank, such as Bishop or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Muṭrān</foreign></desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="corr" mode="change" module="core">
                    <attList>
                        <attDef ident="resp" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="date" mode="change" module="core">
                    <attList>
                        <attDef ident="calendar" mode="change">
                            <valList mode="replace" type="closed">
                                <valItem ident="#cal_gregorian">
                                    <desc>Gregorian calendar</desc>
                                </valItem>
                                <valItem ident="#cal_islamic">
                                    <desc>Muslim lunar calendar known as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">hijrī</foreign> calendar
                                        beginning the year with 1 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Muḥarram</foreign></desc>
                                </valItem>
                                <valItem ident="#cal_julian">
                                    <desc>Reformed Julian calendar also known as <foreign xml:lang="ar-Latn-x-ijmes">sharqī</foreign> or <foreign xml:lang="ar-Latn-x-ijmes">rūmī</foreign> calendar beginning the Year with 1 January</desc>
                                </valItem>
                                <valItem ident="#cal_ottomanfiscal">
                                    <desc>Ottoman fiscal calendar also known as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">mālī</foreign>
                                        or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">rūmī</foreign>
                                        calendar beginning the year with 1 <foreign xml:lang="ar-Latn-x-ijmes">mārt</foreign> (March), similar to the old Julian calendar.</desc>
                                </valItem>
                                <valItem ident="#cal_coptic">
                                    <desc>The Coptic calendar</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="datingMethod" mode="change">
                            <valList mode="replace" type="closed">
                                <valItem ident="#cal_gregorian">
                                    <desc>Gregorian calendar</desc>
                                </valItem>
                                <valItem ident="#cal_islamic">
                                    <desc>Muslim lunar calendar known as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">hijrī</foreign> calendar
                                        beginning the year with 1 
                                        <foreign xml:lang="ar-Latn-x-ijmes">Muḥarram</foreign></desc>
                                </valItem>
                                <valItem ident="#cal_julian">
                                    <desc>Reformed Julian calendar also known as <foreign xml:lang="ar-Latn-x-ijmes">sharqī</foreign> or <foreign xml:lang="ar-Latn-x-ijmes">rūmī</foreign> calendar beginning the Year with 1 January</desc>
                                </valItem>
                                <valItem ident="#cal_ottomanfiscal">
                                    <desc>Ottoman fiscal calendar also known as 
                                        <foreign xml:lang="ar-Latn-x-ijmes">mālī</foreign>
                                        or 
                                        <foreign xml:lang="ar-Latn-x-ijmes">rūmī</foreign>
                                        calendar beginning the year with 1 <foreign xml:lang="ar-Latn-x-ijmes">mārt</foreign> (March), similar to the old Julian calendar.</desc>
                                </valItem>
                                <valItem ident="#cal_coptic">
                                    <desc>The Coptic calendar</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="type" mode="change">
                            <valList mode="replace" type="semi">
                                <valItem ident="official">
                                    <desc>A publication date as provided on the masthead</desc>
                                </valItem>
                                <valItem ident="scheduled">
                                    <desc>A publication date according to the publication schedule</desc>
                                </valItem>
                                <valItem ident="supplied">
                                    <desc>A publication date as indicated by other sources</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="del" mode="change" module="core">
                    <attList>
                        <attDef ident="resp" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="div" mode="change" module="textstructure">
                    <attList>
                        <attDef ident="type" mode="change" usage="req">
                            <desc>specifies the structural type</desc>
                            <defaultVal>item</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="item">
                                    <desc>smallest independent segment, such as a news item or an article in a periodical or of a bill</desc>
                                </valItem>
                                <valItem ident="section">
                                    <desc>section of a newspaper issue that explicitly groups items, such as a rubric &quot;domestic news&quot;, or sections of a larger item such as the sub divisions of an article or bill</desc>
                                </valItem>
                                <valItem ident="volume"/>
                                <valItem ident="issue"/>
                            </valList>
                        </attDef>
                        <attDef ident="subtype" mode="change" usage="opt">
                            <desc>specifies a basic content classification</desc>
                            <defaultVal>article</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="article">
                                    <desc>a generic periodical article</desc>
                                </valItem>
                                <valItem ident="bill">
                                    <desc>a legal text</desc>
                                </valItem>
                                <valItem ident="advert">
                                    <desc>an advertisement</desc>
                                </valItem>
                                <valItem ident="letter">
                                    <desc>a letter</desc>
                                </valItem>
                                <valItem ident="masthead">
                                    <desc>the masthead of a periodical issue</desc>
                                </valItem>
                                <valItem ident="verse"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="editor" mode="change" module="core">
                    <attList>
                        <attDef ident="type" mode="add" usage="opt">
                            <valList mode="add" type="closed">
                                <valItem ident="owner">
                                    <desc>The owner-cum-editor, commonly referred to as <foreign xml:lang="ar-Larn-x-ijmes">ṣāḥib</foreign>.</desc>
                                </valItem>
                                <valItem ident="publisher">
                                    <desc>The publisher-cum-editor, commonly referred to as <foreign xml:lang="ar-Larn-x-ijmes">munshiʾ</foreign>.</desc>
                                </valItem>
                                <valItem ident="editor">
                                    <desc>Implicitly assumed type of all editors, used for all of the following: <list>
                                        <item><foreign xml:lang="ar-Larn-x-ijmes">mudīr masʾūl</foreign> (responsible director)</item>
                                        <item><foreign xml:lang="ar-Larn-x-ijmes">raʾis al-taḥrīr</foreign> (editor-in-chief)</item>
                                        <item><foreign xml:lang="ar-Larn-x-ijmes">mudīr al-taḥrīr</foreign> (managing editor)</item>
                                        <item><foreign xml:lang="ar-Larn-x-ijmes">muḥarrir</foreign> (editor)</item>
                                    </list></desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="gap" mode="change" module="core">
                    <attList>
                        <attDef ident="resp" mode="change" usage="req">
                            <defaultVal>#org_MS</defaultVal>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="l" mode="change" module="core">
                    <classes mode="replace">
                        <memberOf key="model.lLike"/>
                        <memberOf key="att.fragmentable"/>
                        <memberOf key="att.global"/>
                        <memberOf key="att.metrical"/>
                        <memberOf key="att.typed" mode="add"/>
                    </classes>
                    <attList>
                        <attDef ident="type" mode="change" usage="rec">
                            <defaultVal>bayt</defaultVal>
                            <valList type="closed">
                                <valItem ident="bayt">
                                    <desc>Two-partite line of an Arabic <foreign xml:lang="ar-Latn-x-ijmes">qaṣīda</foreign>. The parts are encoded as 
                                        <gi>seg</gi>
                                        .</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="note" mode="change" module="core">
                    <attList>
                        <attDef ident="n" mode="change">
                            <defaultVal>1</defaultVal>
                        </attDef>
                        <attDef ident="place" mode="change">
                            <defaultVal>bottom</defaultVal>
                        </attDef>
                        <attDef ident="type" mode="change">
                            <valList mode="replace" type="semi">
                                <valItem ident="bibliographic">
                                    <desc>Note identifying authors, editors, or other sources of a text for cases that canot be covered by a <gi>byline</gi>.</desc>
                                </valItem>
                                <valItem ident="editorial">
                                    <desc>Note added by editors of the digital edition. The editor is identified by means of <att>resp</att></desc>
                                </valItem>
                                <valItem ident="endnote">
                                    <desc>Discouraged: use <att>place</att>='end' instead.</desc>
                                </valItem>
                                <valItem ident="footnote">
                                    <desc>Discouraged: use <att>place</att>='bottom' instead.</desc>
                                </valItem>
                                <valItem ident="gloss">
                                    <desc>Discouraged: use <att>place</att>='margin' instead.</desc>
                                </valItem>
                                <valItem ident="inline">
                                    <desc>Discouraged: use <att>place</att>='inline' instead.</desc>
                                </valItem>
                                <valItem ident="tagList">
                                    <desc>Note containing a list of tags to be used mainly in authority files for further computational transformations and analysis</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="num" mode="change" module="core">
                    <!--<classes mode="change"><memberOf key="model.measureLike"/><!-\-<memberOf key="att.fragmentable"/><memberOf key="att.global"/><memberOf key="att.metrical"/>-\-><memberOf key="att.typed" mode="add"/></classes>-->
                    <attList>
                        <!--<attDef ident="type" mode="change"><valList type="semi" mode="replace"><valItem ident="auto-markup"/></valList></attDef>-->
                        <attDef ident="subtype" mode="add">
                            <valList mode="replace" type="semi">
                                <valItem ident="d1">
                                    <desc>Single digit</desc>
                                </valItem>
                                <valItem ident="d2">
                                    <desc>Two digits</desc>
                                </valItem>
                                <valItem ident="d3">
                                    <desc>Three digits</desc>
                                </valItem>
                                <valItem ident="d4">
                                    <desc>Four digits</desc>
                                </valItem>
                                <valItem ident="d5">
                                    <desc>Five digits</desc>
                                </valItem>
                                <valItem ident="d6">
                                    <desc>Six digits</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="pb" mode="change" module="core">
                    <attList>
                        <attDef ident="ed" mode="change" usage="req">
                            <defaultVal>print</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="print">
                                    <desc>Page beginning, i.e. break, according to a printed edition</desc>
                                </valItem>
                                <valItem ident="shamela">
                                    <desc>Page beginning, i.e. break, as found in the transcription from Maktabat al-Shamela</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="edRef" mode="change" usage="rec">
                            <desc>Points to the <att>xml:id</att> of the corresponding print edition</desc>
                            <defaultVal>#edition_1</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="#edition_1">
                                    <desc>Points to an exemplary <att>xml:id</att> of a <gi>biblStruct</gi> describing the corresponding print edition.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="lb" mode="change" module="core">
                    <attList>
                        <attDef ident="ed" mode="change" usage="rec">
                            <defaultVal>print</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="print">
                                    <desc>Line beginning, i.e. break, according to a printed edition</desc>
                                </valItem>
                                <valItem ident="shamela">
                                    <desc>Line beginning, i.e. break, as found in the transcription from Maktabat al-Shamela</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="edRef" mode="change" usage="rec">
                            <desc>Points to the <att>xml:id</att> of the corresponding print edition</desc>
                            <defaultVal>#edition_1</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="#edition_1">
                                    <desc>Exemplary <att>xml:id</att> of a <gi>biblStruct</gi> describing the corresponding print edition.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="cb" mode="change" module="core">
                    <attList>
                        <attDef ident="ed" mode="change" usage="rec">
                            <defaultVal>print</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="print">
                                    <desc>Column beginning, i.e. break, according to a printed edition</desc>
                                </valItem>
                                <valItem ident="shamela">
                                    <desc>Column beginning, i.e. break, as found in the transcription from Maktabat al-Shamela</desc>
                                </valItem>
                            </valList>
                        </attDef>
                        <attDef ident="edRef" mode="change" usage="rec">
                            <desc>Points to the <att>xml:id</att> of the corresponding print edition</desc>
                            <defaultVal>#edition_1</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="#edition_1">
                                    <desc>Points to an exemplary <att>xml:id</att> of a <gi>biblStruct</gi> describing the corresponding print edition.</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="item" mode="change" module="core">
                    <attList>
                        <attDef ident="rend" mode="change">
                            <defaultVal>block</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="block"/>
                                <valItem ident="inline"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="q" mode="change" module="core">
                    <attList>
                        <attDef ident="rend" mode="change">
                            <defaultVal>quotation-marks</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="brackets"/>
                                <valItem ident="quotation-marks"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="quote" mode="change" module="core">
                    <attList>
                        <attDef ident="rend" mode="change">
                            <defaultVal>quotation-marks</defaultVal>
                            <valList mode="replace" type="semi">
                                <valItem ident="brackets"/>
                                <valItem ident="quotation-marks"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="supplied" mode="change" module="transcr">
                    <attList>
                        <attDef ident="resp" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>